

        <div class="card-deck col-md-8 mx-auto">

                <div class="card">
                        <img src = "/img/grandma.gif" alt="dancing">
        
                  <div class="card-body">
                    <h4 class="card-title">WELL DONE, YOU OLD GEEZER, YOU COMMENTED!</h4>
                </div>
                <a href="/commentzone" class="btn btn-primary">Fine, back to the comment page!</a>
                </div>

    </div>
  
