
<h1>Howdy, Oldies!</h1>
<p class="hi">Welcome to Crusty Coders, where you are never too old for tech. Whether a spry septuagenarian, an active octogenarian, a nifty nonagenarian, or even a crafty centenarian, this is your home for everything technoillogical. </p>

<div class="card-deck">
  <div class="card">
   <img src="/img/mouse.jpg" class="card-img-top" alt="mouse">
   <div class="card-body">
     <h5 class="card-title">What's a Mouse?</h5>
     <p class="card-text">Learn all about the software you need to become a laptop legend on your comfiest armchair.</p>
     <a href="/whatsamouse" class="btn btn-primary">ABOUT SOFTWARE</a>
   </div>
 </div>

 <div class="card">
   <img src="/img/internet.png" class="card-img-top" alt="internet">
   <div class="card-body">
     <h5 class="card-title">What's Internet?</h5>
     <p class="card-text">Learn all about surfing on the internet and travel the world from your armchair.</p>
     <a href="/whatsinternet" class="btn btn-primary">ABOUT THE WEB</a>
   </div>
 </div>
     
 <div class="card">
         <img src="/img/netflix.png" class="card-img-top" alt="streaming">
         <div class="card-body">
           <h5 class="card-title">What's Streaming?</h5>
           <p class="card-text">Learn all about streaming platforms and how much they will cost you.</p>
           <a href="/whatsstreaming" class="btn btn-primary">ABOUT STREAMING</a>
         </div>
       </div>
           
           
    <div class="card">
         <img src="/img/mobileapps.png" class="card-img-top" alt="apps">
         <div class="card-body">
           <h5 class="card-title">What's an App?</h5>
           <p class="card-text">Get to grips with all the weird and wonderful widgets on your mobile phone.</p>
           <a href="/whatsanapp" class="btn btn-primary">ABOUT MOBILE APPS</a>
         </div>
       </div>
    
       <div class="card">
        <img src="img/profile.png" class="card-img-top" alt="profile">
        <div class="card-body">
          <h5 class="card-title">Your Profile</h5>
          <p class="card-text">Create a profile and practice adding pictures, text, and content. Become a crusty coder!</p>
          <a href="/dashboard" class="btn btn-primary">MAKE A PROFILE</a>
        </div>
      </div>
    </div>